@using EduSchoolCore.EL.AllClass;
@model List<About>
<section class="w3l-servicesblock pt-lg-5 pt-4 pb-5 mb-lg-5" id="about">
    <div class="container pb-md-5 pb-4">
        <div class="row pb-xl-5 align-items-center">
            @foreach(var x in Model)
            {
                <div class="col-lg-6 position-relative home-block-3-left pb-lg-0 pb-5">
                    <div class="position-relative">
                        <img src="@x.ImageUrl" alt="" class="img-fluid radius-image">
                    </div>
                    <div class="imginfo__box">
                        <h6 class="imginfo__title">@x.NumTitle</h6>
                        <p>@x.NumDescription</p>
                        <a href="tel:http://@x.Number"><i class="fas fa-phone-alt"></i> @x.Number</a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                    <h3 class="title-style">@x.Title</h3>
                    <p class="mt-4">
                        @x.Description
                    </p>
                    <ul class="mt-4 list-style-lis pt-lg-1">
                        <li><i class="fas fa-check-circle"></i>@x.Title1</li>
                        <li><i class="fas fa-check-circle"></i>@x.Title2</li>
                        <li><i class="fas fa-check-circle"></i>@x.Title3</li>
                    </ul>
                    <a href="/Contact/Index/" class="btn btn-style mt-5">İndi qeydiyyatdan keç</a>
                </div>
            }
            
        </div>
    </div>
</section>
