@using EduSchoolCore.EL.AllClass;
@model List<Course>


<div class="w3l-grids-block-5 home-course-bg py-5" id="courses">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Seçilmiş Kurslar</p>
            <h3 class="title-style">Sizin Üçün Ən Sevilən Kurslarımızı Seçdik</h3>
        </div>
        <div class="row justify-content-center">
            @foreach (var x in Model.OrderByDescending(x => x.CourseId).Take(3))
            {
                <div class="col-lg-4 col-md-6">
                    <div class="coursecard-single">
                        <div class="grids5-info position-relative">
                            <img src="@x.Picture" alt="" class="img-fluid" />
                            <div class="meta-list">
                                <a href="/Course/Single/@x.CourseId">@x.Category.CategoryName</a>
                            </div>
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    <li> <i class="fas fa-book-open"></i>@x.Lesson</li>
                                    @*<li> <i class="fas fa-star"></i> 4.5</li>*@
                                </ul>
                            </div>
                            <h4><a href="/Course/Single/@x.CourseId">@x.Title</a></h4>
                            @if (@x.Description != null)
                            {
                                <p>@x.Description.Substring(0,@x.Description.Substring(0,50).LastIndexOf(" "))... </p>

                            }
                            else
                            {
                                <p>Məlumat Yoxdur</p>
                            }
                           
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                                <h6>@x.Price</h6>
                                <a class="btn btn-style-primary" href="/Course/Single/@x.CourseId">
                                    Ətraflı<i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
@*            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/Edu-School-Starter/assets/images/c2.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html" class="sec-2">Meditation</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 72 Lesson</li>
                                <li> <i class="fas fa-star"></i> 4.3</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Best Meditation Classes</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                            <h6>$36.00</h6>
                            <a class="btn btn-style-primary" href="courses.html">
                                Know Details<i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/Edu-School-Starter/assets/images/c3.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html" class="sec-3">Games</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 14 Lesson</li>
                                <li> <i class="fas fa-star"></i> 4.2</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Games Program in a Week</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                            <h6>$30.00</h6>
                            <a class="btn btn-style-primary" href="courses.html">
                                Know Details<i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="text-center mt-sm-5 mt-4 pt-sm-0 pt-1">
            <a class="btn btn-style btn-style-secondary mt-sm-3" href="/Course/Index">
                Başqa Kurslara Bax
            </a>
        </div>
    </div>
</div>
